<div class="jumbotron jumbo-home">
  <h1>Welcome, stranger</h1>
  <h2>Create an account - it's more fun!</h3>
  <%= link_to "Create Account", new_user_path, class: "btn btn-lg btn-primary btn-signup" %>
</div>