<% content_for :title, "Hot | CloneGag" %>
<%= render 'shared/messages' %>
<h1 align="center">Hot posts</h1>

<div class="container center">
  <%= render 'posts/post', obj: @hot_posts %>
  <%= will_paginate @hot_posts %>
</div>