<% content_for :title, "Trending | CloneGag" %>
<%= render 'shared/messages' %>
<h1 align="center">Trending posts</h1>

<div class="container center">
  <%= render 'posts/post', obj: @trending_posts %>
  <%= will_paginate @trending_posts %>
</div>