@import "bootstrap-sprockets";
@import "bootstrap";

//NAVBAR
.navbar-brand {
  color: white;
}

html {
  font-size: 20px;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.5rem;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  html { font-size: 10px; }
  .container { width: 100% !important; padding: 0px }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  html { font-size: 12px; }
  .container { width: 100% !important; padding: 0px }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  html { font-size: 15px; }
  .container { width: 80% !important; padding: 0px }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  html { font-size: 17px; }
  .post-container { 
    width: 80%; 
    margin: auto;
  }
  .container { width: 70% !important; padding: 0px }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  html { font-size: 20pxrem; }  
  .post-container { 
    width: 90%; 
    margin: auto;
  }
  .container { width: 60% !important; padding: 0px }
}


.nav-link {
  margin-top: -30px;
}

//BODY
.center {
  text-align: center;
}

.jumbo-home {
  text-align: center;
}

.btn-signup {
  margin-top: 10px;
}

.btn-vote {
  border: 1px solid #eaeaea;
}

.form-input {
  overflow: auto;
}

.btn-full {
  width: 100%;
}

.post-panel {
  
}

.post-body {
  padding: 0px;
  clear: both;
}

.post-link {
  color: black;
  margin-bottom: 2px;
  margin-left: -10px;
  float: left;
  &:hover {
    text-decoration: none;
  }
}

.post-details {
  border-top: 1px solid #eaeaea;
  margin-left: -14px;
}

.post-panel {
  overflow: auto;
  overflow-y: hidden;
}
.post-actions {
  text-align: left !important;
}

.post-delete {
  
}

.user-link {
  float: right;
  margin-top: 20px;
}

.img-profile {
  border: 2px solid black;
}

//FOOTER

footer {
  border-top: 1px solid #eaeaea;
}


.tester {
  background-color: red;
}